PORT=8787
URL=http://localhost:5173
DATA_PATH=./data
AUTH_SECRET=your-secret-key
NODE_ENV=development
GOTENBERG_URL=http://127.0.0.1:8912
AUTH_PROVIDER_0_NAME=
AUTH_PROVIDER_0_CLIENT_ID=
AUTH_PROVIDER_0_CLIENT_SECRET=
AUTH_PROVIDER_0_DISCOVERY_URL=
